[coordinator]
url = "http://127.0.0.1:13300"

[agent]
bind_addr = "0.0.0.0:13301"
control_selected_interface_name = ""
control_selection_confirmed = false
control_bind_ip = ""
indexer_id_path = "./runtime/overlord-agent-emule.indexer-id"
state_dir = "./runtime"
hostname = "localhost"
version = "0.1.0"

[kad]
udp_bind_addr = "0.0.0.0:41000"
ed2k_bind_addr = "0.0.0.0:41001"
nodes_dat_path = "./runtime/overlord-kad.nodes.dat"
bootstrap_nodes = []
search_timeout_secs = 45
store_timeout_secs = 140
republish_interval_secs = 18000
max_outbound_pps = 50
search_phase2_fanout = 50
keyword_result_cap = 5000
source_result_cap = 1000
notes_result_cap = 1000
obfuscation_enabled = true
enable_mock_results = false

[nat]
enabled = false
backend_order = ["upnp"]
bind_ip = ""
igd_ip = ""
discovery_timeout_secs = 5
lease_duration_secs = 3600
renew_margin_secs = 300
external_ip_override = ""

[log]
level = "info"
